@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Yeseva+One&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Yeseva, sans-serif;
    font-weight: 300;
    background-color: deepskyblue;
}

/* heading & logo*/

h1, h2 {
    font-family: Yeseva, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 250%;
}

/* navigation */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: #fff;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/* hero */

#hero-out {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-pixabay-2150.jpg') no-repeat center center;
}

