@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Yeseva+One&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Yeseva, sans-serif;
    font-weight: 300;
    color: deepskyblue;
}

/* heading & logo*/

h1, h2 {
    font-family: Yeseva, sans-serif;
    color: rgb(9, 1, 15);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 250%;
}