@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Yeseva+One&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    background-color: black;
    color: #fff;
}

/* heading & logo*/

h1, h2 {
    font-family: 'Yeseva One', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 40px;
}

/* navigation */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 100px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/* hero */

#hero-out {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero {
    height: 800px;
    width: 100%;
    background: url('../images/pexels-pixabay-2150.jpg') no-repeat center center;
}

#heroover, #heroover h2 {
    color: black;
}

#heroover {
    font-size: 150%;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 600px;
    height: 300px;

    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, .3);

    top: 30px;
    left: 150px;

    position: absolute;
}

#heroover h3 {
    color: #fff;
}

/* about us */

#about-us {
    height: 600px;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}